/**
 * Generic elements.
 */

/**
 * Box-sizing.
 */
* {
  box-sizing: border-box;
}

/**
 * Html.
 */
html {
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 10px;
  }
}

/**
 * Body.
 */
body {
  font-size: 1.6rem;
  background-color: #efeeea;
}

/**
 * Links.
 */
a {
  color: #95a326;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
  text-decoration: underline;
}

/**
 * Headings.
 */
h1,
h2,
h3 {
  font-family: "Lato", serif;
}

h1 {
  font-weight: bold;
  margin: 0;
  font-size: 1.625em;
  line-height: 1.875em;
}

/**
 * Menu.
 */
body ul.menu {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  body ul.menu {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 768px) {
  body ul.menu li {
    white-space: nowrap;
  }
}

body ul.menu li a {
  text-decoration: none;
}
