/**
 * Branding.
 */
.region-brand {
  overflow: hidden;
  min-height: 6.6rem;
}

.site-logo {
  float: left;
  margin: -0.5rem 0.3rem 0 -1rem;
}

.site-logo img {
  width: 5.5rem;
  margin-top: 0.9rem;
}

.site-name a {
  display: inline-block;
  margin-top: 1.8rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #5e6d01;
  text-decoration: none;
}

.site-slogan {
  font-size: 1rem;
  line-height: 1.4rem;
  color: #333;
}
