/**
 * Main Navigation.
 */
@media only screen and (min-width: 768px) {
  .primary-navigation {
    background: #7b9d05;
  }
}

.primary-navigation .container {
  position: relative;
  display: block;
}

@media only screen and (min-width: 768px) {
  .primary-navigation .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.region-primary-navigation {
  align-self: center;
  position: relative;
  display: block;
}

.region-primary-navigation:before {
  content: "";
  position: absolute;
  display: block;
  top: 0.3rem;
  left: 0.3rem;
  height: 0.3rem;
  width: 3rem;
  border-top: #5e6d01 0.9rem double;
  border-bottom: #5e6d01 0.9rem double;
  z-index: 2;
}

.region-primary-navigation:after {
  content: '';
  display: block;
  background-color: #fff;
  width: 3.6rem;
  height: 2.8rem;
}

@media only screen and (min-width: 768px) {
  .region-primary-navigation:before,
  .region-primary-navigation:after {
    display: none;
  }
}

.region-primary-navigation:focus {
  pointer-events: none;
  outline: none;
}

.region-primary-navigation:focus > nav {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.region-primary-navigation > nav {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s;
  z-index: 1;
  background: #5e6d01;
}

.region-primary-navigation > nav li {
  padding-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .region-primary-navigation > nav {
    position: static;
    background: transparent;
    visibility: visible;
    opacity: 1;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .region-primary-navigation > nav li {
    padding-top: 0;
  }
}

.region-primary-navigation > nav a {
  display: block;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff !important;
}

@media only screen and (min-width: 768px) {
  .region-primary-navigation > nav a {
    padding-right: 2rem;
  }
}
