/**
 * Top Navigation.
 */
.region-top-navigation ul.menu {
  font-size: 1rem;
  color: #333;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
}

.region-top-navigation ul.menu li:before {
  content: '|';
  display: inline-block;
  margin-left: 0.5rem;
  padding-right: 0.2rem;
}

.region-top-navigation ul.menu li:first-child:before {
  display: none;
}

.region-top-navigation ul.menu li a {
  color: #333;
  text-decoration: none;
}

.region-top-navigation ul.menu li a:hover {
  color: #5e6d01;
}
