{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.brand: Items for the branding region.
 * - page.top_navigation: Items for the top navigation region.
 * - page.primary_navigation: Items for the primary navigaton region.
 * - page.search: Items for the search region.
 * - page.header_first: Items for the header first region.
 * - page.header_second: Items for the header second region.
 * - page.header_third: Items for the header third region.
 * - page.secondary_navigation: Items for the secondary navigation region.
 * - page.messages: Items for the messages region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header role="banner">
  <section class="top-header">
    <div class="container">
      {{ page.brand }}

      {% if page.top_navigation %}
        {{ page.top_navigation }}
      {% endif %}
    </div>
  </section>
  <section class="primary-navigation">
    <div class="container">
      {{ page.primary_navigation }}

      {% if page.search %}
        {{ page.search }}
      {% endif %}
    </div>
  </section>
</header>

{% if page.header_first or page.header_second or page.header_third %}
  <section class="header-wrapper
    {%- if page.header_first %} with-header-first{% endif %}
    {%- if page.header_second %} with-header-second{% endif %}
    {%- if page.header_third %} with-header-third{% endif %}">
    <div class="container">
      {{ page.header_first }}
      {{ page.header_second }}
      {{ page.header_third }}
    </div>
  </section>
{% endif %}

<main role="main">
  <div class="container">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.secondary_navigation %}
      {{ page.secondary_navigation }}
    {% endif %}

    {% if page.messages %}
      {{ page.messages }}
    {% endif %}

    <div class="layout-content
      {%- if page.sidebar_first %} with-sidebar-first{% endif %}
      {%- if page.sidebar_second %} with-sidebar-second{% endif %}">
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </div>
</main>

{% if page.footer_first or page.footer_second or page.footer_third or footer_bottom %}
  <footer role="contentinfo">
    <div class="container">
      {% if page.footer_first or page.footer_second or page.footer_third %}
        <section class="footer-wrapper">
          {{ page.footer_first }}
          {{ page.footer_second }}
          {{ page.footer_third }}
        </section>
      {% endif %}

      {{ page.footer_bottom }}
    </div>
  </footer>
{% endif %}
