/**
 * Layout styles.
 */

/**
 * Set default width of containers.
 */
.container {
  max-width: 102rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 0;
  }
}

/**
 * Header.
 */
.top-header .container {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .top-header .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.region-brand {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .region-brand {
    align-self: center;
  }
}

@media only screen and (min-width: 768px) {
  .region-top-navigation {
    align-self: center;
  }
}

.header-wrapper {
  padding: 2rem 0;
  background: #eee7c8;
}

@media only screen and (min-width: 768px) {
  .header-wrapper .container {
    display: flex;
    flex-wrap: nowrap;
  }
}

.region-header-first,
.region-header-second,
.region-header-third {
  flex: 4 0;
  background: #7b9d05;
}

@media only screen and (min-width: 768px) {
  /* If first and second regions are present. */
  .header-wrapper.with-header-first.with-header-second .region-header-first {
    flex-grow: 4;
  }

  .header-wrapper.with-header-first.with-header-second .region-header-second {
    flex-grow: 9;
    margin: 0 0 0 2rem;
  }

  /* If second and third regions are present. */
  .header-wrapper.with-header-third.with-header-second .region-header-second {
    flex-grow: 9;
    margin: 0 2rem 0 0;
  }

  .header-wrapper.with-header-third.with-header-second .region-header-third {
    flex-grow: 4;
  }

  /* If first and third regions are present. */
  .header-wrapper.with-header-third.with-header-first .region-header-first {
    flex-grow: 6;
    margin: 0 2rem 0 0;
  }

  .header-wrapper.with-header-third.with-header-first .region-header-third {
    flex-grow: 7;
  }

  /* If all 3 regions are present. */
  .header-wrapper.with-header-first.with-header-second.with-header-third .region-header-first {
    flex-grow: 4;
    margin: 0;
  }

  .header-wrapper.with-header-first.with-header-second.with-header-third .region-header-second {
    flex-grow: 5;
    margin: 0 2rem;
  }

  .header-wrapper.with-header-first.with-header-second.with-header-third .region-header-third {
    flex-grow: 4;
  }
}

/**
 * Content.
 */
main .container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
}

main .container > * {
  margin-bottom: 2rem;
}

.region-messages,
.region-secondary-navigation {
  flex: 13 100%;
  order: 1;
}

.region-messages {
  order: 2;
}

.layout-content {
  flex: 13 100%;
  order: 4;
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .layout-content {
    flex: 13 0;
  }
}

.layout-content.with-sidebar-first,
.layout-content.with-sidebar-second {
  flex: 13 100%;
}

@media only screen and (min-width: 768px) {
  .layout-content.with-sidebar-first,
  .layout-content.with-sidebar-second {
    flex: 10 0;
  }
}

@media only screen and (min-width: 768px) {
  .layout-content.with-sidebar-second {
    margin-left: 0;
    margin-right: 2rem;
  }
}

.layout-content.with-sidebar-first.with-sidebar-second {
  flex: 13 100%;
}

@media only screen and (min-width: 768px) {
  .layout-content.with-sidebar-first.with-sidebar-second {
    flex: 7 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.layout-sidebar-first,
.layout-sidebar-second {
  flex: 13 100%;
  order: 3;
}

@media only screen and (min-width: 768px) {
  .layout-sidebar-first,
  .layout-sidebar-second {
    flex: 3 0;
  }
}

.layout-sidebar-second {
  order: 5;
}

/**
 * Foorer.
 */
footer {
  padding: 2rem 0;
  background: #7b9d05;
}

@media only screen and (min-width: 768px) {
  footer {
    margin-top: 2rem;
    padding: 4rem 0;
  }
}

footer .region {
  margin-bottom: 2rem;
}

.footer-wrapper {
  display: block;
}

@media only screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
}

.footer-wrapper .region {
  flex: 4 0;
  background: #eee7c8;
}

@media only screen and (min-width: 768px) {
  .footer-wrapper .region.region-footer-second {
    flex-grow: 5;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
